.navbar {
  display: flex;
  align-items: center; /* Zentrieren Sie die Elemente vertikal */
  justify-content: space-between; /* Platzieren Sie die Elemente gleichmäßig entlang der Hauptachse */
  padding: 10px 20px; /* Fügen Sie optionalen Abstand hinzu */
  background-color: #efe7e7;
  color: #000;
  font-weight: bold;
}

.navbar-logo img {
  height: 40px; /* Ändern Sie die Höhe des Logos nach Bedarf */
}

.navbar-links {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  margin-right: 20px; /* Abstand zwischen den Menüpunkten hinzu */
}

.navbar-links li:last-child {
  margin-right: 0; /* Entfernen Sie den Abstand des letzten Menüpunkts */
}

.navbar-links a {
  text-decoration: none;
  color: #333; /* Ändern Sie die Farbe der Links nach Bedarf */
  transition: background-color 0.3s, transform 0.3s; /* Übergangseffekt für Hintergrundfarbe und Transformation */
}

.navbar-links a:hover {
  background-color: #ccc; /* Ändern Hintergrundfarbe bei Hover */
  transform: translateY(-4px); /* Verschieben Link um 4 Pixel nach oben */
}


.navbar-actions {
  /* Fügen Sie hier ggf. Stile für Aktionselemente hinzu */
}
